<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.student.mapper.StudentAccountMapper">
    
    <resultMap type="StudentAccount" id="StudentAccountResult">
        <result property="id"    column="id"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStudentAccountVo">
        select id, username, password, create_time, update_time from student_account
    </sql>

    <select id="selectStudentAccountList" parameterType="StudentAccount" resultMap="StudentAccountResult">
        <include refid="selectStudentAccountVo"/>
        <where>  
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
        </where>
    </select>
    
    <select id="selectStudentAccountById" parameterType="Long" resultMap="StudentAccountResult">
        <include refid="selectStudentAccountVo"/>
        where id = #{id}
    </select>

    <insert id="insertStudentAccount" parameterType="StudentAccount" useGeneratedKeys="true" keyProperty="id">
        insert into student_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStudentAccount" parameterType="StudentAccount">
        update student_account
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStudentAccountById" parameterType="Long">
        delete from student_account where id = #{id}
    </delete>

    <delete id="deleteStudentAccountByIds" parameterType="String">
        delete from student_account where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>